@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body{
font-family: 'Roboto Mono', monospace;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
background-color: #1f1b29;
}

button{
  background: none;
  color: #ffa260;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: all 0.25s;
}

button:hover{
  border-color: #f1ff5c;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform:translateY(-0.25em);
  cursor: pointer;
}
